#root {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }  

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }  
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  .video{
    border-radius: 32px;
    border: #F7A5FF 30px;
  }
  
  .detected{
    display: flex;
    margin: 0px;
    padding: 30px;
    width: 100%;
    height: fit-content;
    max-width: 100vw;
  }

  .detectedd{
    display: flex;
    gap: 0px;
  }
  
  .detectedSentence{
    width: 100%;
    height: 480px;
    display: grid   ;
    align-items: end;
    justify-content: center;
  }

  .det{
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
  }
  
  h2{
    margin: 0px;
    color: #3E65B0;
    width: fit-content;
    height: fit-content;
  }
  
  p{
    color: #3E65B0;
    font-size: 50px;
    font-weight: bolder;
  }
  
  .button{
    height: fit-content;
    width: 100%;
    padding: 13px 0px;
    margin: 0px;
    border: 0px;
    font-family: "Lora", serif; 
    background: linear-gradient(#5891FF, #F7A5FF);
  }

  .buttonn{
    height: fit-content;
    width: fit-content;
    padding: 13px;
    margin-top: 0px;
    margin-left: 12px;
    border: 0px;
    flex-grow: 1;
    font-family: "Lora", serif; 
    background: linear-gradient(#5891FF, #F7A5FF);
  }
  
  .a{
    padding: 0px;
    width: fit-content;
    height: fit-content;
    font-size: 32px;
    align-content: center;
    justify-content: center;
  }
  
  .b{
    width: fit-content;
    height: fit-content;
    font-size: 100px;
    font-weight: bolder;
    align-content: center;
    justify-content: center;
  }
  
  .interval{
    margin-left: 30px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .intervalOption{
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-width: 2px;
    border-image: linear-gradient(#5891FF, #F7A5FF) 1;
    color: #3E65B0;
    background: #FFFFFF;
    text-align: center;
    margin-top: 36px;
    margin-left: 20px;
    font-family: "Lora", serif;
    flex-grow: 1;
  }

  .camera-selection{
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0px;
    color: #3E65B0;
    background: #FFFFFF;
    text-align: center; 
    font-family: "Lora", serif;
  }

  .camera-selectionn{
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-width: 2px;
    border-image: linear-gradient(#5891FF, #F7A5FF) 1;
    color: #3E65B0;
    background: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    margin-left: 12px;
    font-family: "Lora", serif;
  }
  
  .history-container{
    width: 100%;
  }
  
  .history{
    display: flex;
  }

  .history-text{
    margin: 0px;
    flex-grow: 1;
  }
  
  .history-grid{
    margin: 20px;
    width: fit-content;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .history-image {
    width: 100px; /* Atur ukuran sesuai keinginan */
    height: auto; /* Biarkan proporsi tetap terjaga */
    border-radius: 8px;
    margin: 5px;
  }
  
  .historyText{
    font-size: large;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }