.unauthorized-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: linear-gradient(#5891FF, #F7A5FF);
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  