@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
    display: flex;
}

.heading-container{
    margin: 0px 48px;
    display: flex;
    padding-top: 62px;
    align-items: center;
}

.heading{
    margin-left: auto;
    margin-right: auto;
}

.button-payment{
    background: linear-gradient(#5891FF, #F7A5FF);;
    font-weight: 800;
}

.button-role{
    background: linear-gradient(#5891FF, #F7A5FF);;
    font-weight: 800;
}

.content-table{
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background: linear-gradient(to bottom, #5891FF, #F7A5FF);
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    color: #3E65B0;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #5891FF;
}

.close-buttonn {
    background: linear-gradient(#5891FF, #F7A5FF);
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }